*{
    margin: 10px;
    padding: 0px;
}
.traffic{
    height: 400px;
    width: 40px;
    background-color: black;
    margin-top: 235px;
    position: relative;
    left: 40px;
    bottom: 250px;
    justify-content: center;
    align-items: center;

}
.red{
    height: 100px;
    width: 100px;
    background-color: rgba(208, 47, 19, 0.7);
    border-radius: 50%;
}
.green{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    background-color: rgba(69, 193, 15, 0.7);
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    background-color:rgba(199, 199, 28, 0.7)
}
.traf{
    border: 2px solid black;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: white;

}
.line{
    height: 20px;
    width: 1500px;
    background-color: black;
    position: relative;
    left: 27px;
    bottom: 260px;
}
.poll{
    height: 150px;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 615px;
    left: 1450px;

}
.light{
    position: relative;
    bottom: 250px;
    left: 30px;
}
.pull{
    position: relative;
    bottom: 290px;
    left: 1320px;
}
.controller{
    border: 2px solid black;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: white;
    position: relative;
    bottom: 880px;
    left: 1380px;

}
.re{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
.yell{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
}
.gree{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    cursor:pointer;
}
